@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2"),
    url("../fonts/ptsans-700.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: rgb(67, 133, 184);
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}
