@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-brown {
  background-color: #756157;
}

.rating {
  background-color: #f2f2f2;
  color: #000000;
  font-weight: 400;
}

/*Хидер всех страниц сайта*/
.header {
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  z-index: 2;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 70px;
  height: 64px;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  text-decoration: none;
}
.menu-item .button-brown {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-top: 14px;
}

.menu-item {
  height: 64px;
}
.menu-list .logo {
  margin-right: 30px;
}
.menu-logo-link {
  margin: 0;
  padding: 0;
  max-height: 6px;
}
.menu-user {
  /* max-width: 300px; */
  height: 64px;
  margin-left: auto;
}
.menu-item-icon {
  min-width: 16px;
  min-height: 22px;
}

/* MAIN */
.main-index {
  color: #000000;
  background-size: 100%;
  background-repeat: no-repeat;
  flex-grow: 1;
}
.hero {
  display: flex;
  flex-direction: column;
  background: no-repeat;
  background-image: url("../images/header-background.jpg");
  background-color: #ffffff;

  width: 1200px;
  height: 768px;
  text-align: center;
}
.divider {
  display: block;
  margin: 0 auto;
  padding-top: 25px;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.city-logo-svg {
  width: 458px;
  height: 352px;
  margin: 0 auto;
  padding-top: 52px;
}

.logo {
  display: block;
  margin: 0 auto;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
}
.advantages-title {
  width: 700px;
  margin: 0 auto;
  margin-top: 70px;
}
.advantages-title-description {
  margin: 0 auto;
  margin-top: 26px;
  font-size: 22px;
  line-height: 26px;
  width: 652px;
}

/*Раздел advantages*/
.advantages {
  text-align: center;
}

.advantages-name {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.advantages-text {
  width: 230px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 103px;
  justify-content: center;
  gap: 60px;
}
li:first-child .advantages-text,
li:last-child .advantages-text {
  padding-top: 92px;
}
.advantages-name::before {
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}
li:first-child .advantages-name::before,
li:last-child .advantages-name::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin: 0;
  padding: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 0;
}
.advantages-item {
  width: 400px;
  height: 384px;
  list-style-type: none;
}

.right-side-photo {
  grid-column: -3/-1;
}
.left-side-photo {
  grid-column: 1/3;
}

/* фон у advantages items */
.advantages-list li:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-list li:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-list li:first-child,
.advantages-list li:last-child {
  background-color: #82b3d3;
  color: #ffffff;
}

/*Раздел с рекоммендациями*/
.recommendations {
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}
/* Подключили гриды, сами карточки с рекомандациями
будем оформлять при вставке иконок */
.recommendations-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 0;
}
.recommendations-item {
  width: 400px;
  height: 384px;
  list-style-type: none;
}
.recommendations-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  padding: 182px 85px 0;
  gap: 30px;
}
.recommendations-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}
.recommendations-description {
  display: inline-block;
  margin: 0;
}

.recommendations-list li:nth-child(2n) {
  background-color: #ffffff;
}
.living-aparts {
  background-image: url("../images/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 76px 72px;
  background-position: center 80px;
}
.food {
  background-image: url("../images/icon-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 70px;
  background-position: center 81px;
}
.present {
  background-image: url("../images/icon-present.svg");
  background-repeat: no-repeat;
  background-size: 65px 76px;
  background-position: center 78px;
}
/*Раздел поиска гостиницы*/
.hotel-search {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 96px 304px;
}
.hotel-search-container,
.hotel-search-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 54px;
}
.hotel-search-title {
  gap: 20px;
}

.hotel-search p {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}
.hotel-search .button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  padding: 8px 50px;
}
/*Блок подписки*/
.subscribe {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}
.main-subscribe {
  background-image: url("../images/subscribe-background-picture.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
}
.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;
  gap: 54px;
}
.subscribe .subscribe-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  padding-top: 20px;
}
/*Раздел с формой временный*/
.mail-subscribe {
  display: flex;
  width: 684px;
  align-items: center;
  justify-content: space-between;
}
.subscribe-form {
  height: 52px;
}
.subscribe .button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  width: 232px;
  height: 52px;
}
.subscribe-form-email {
  margin: 0;
}
.email-field {
  margin: 0;
  padding: 12px 20px;
  padding-right: 35px;
  font-size: 18px;
  line-height: 24px;
}

/*Футер*/
.main-footer {
  text-align: center;
}
.footer-contacts {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  background-color: #ffffff;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  height: 50px;
  padding: 40px 70px 30px;
}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: 144px;
  height: 40px;
  list-style-type: none;
}
.footer-social-item {
  width: 48px;
  height: 40px;
  margin: 0;
  padding: 0;
}
.tel-number {
  font-size: 40px;
  line-height: 40px;
  width: 720px;
  margin: 0;
  padding-top: 5px;
}
.site-developer {
  width: 115px;
  height: 34px;
}

/*CATALOG*/
/*Фильтр гостиниц*/
h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.main-inner {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}
.page-title {
  margin: 0;
  padding: 0;
}
.catalog-filter {
  background-color: #82b3d3;
  color: #ffffff;
  background-image: url("../images/filter-background-image.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.catalog-filter-content {
  width: 1060px;
  height: 308px;
  padding: 30px 70px 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.filter-content-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 168px;
  width: 1060px;
  height: 160px;
}
.filter-left {
  display: flex;
  padding: 0;
  gap: 70px;
  width: 372px;
  height: 160px;
}
.filter-right {
  display: flex;
  padding: 0;
  gap: 70px;
  width: 550px;
  height: 160px;
}
.infra-title,
.house-type-title,
.price-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.infra-list,
.house-type-list,
.product-list {
  list-style-type: none;
}
.control {
  font-size: 18px;
  line-height: 23px;
}
.breadcrumbs {
  margin: 0;
  list-style-type: none;
}
.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
}
/* Стилизацию форм оставим на потом... */
/* Cортировка */
.sort-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 192px;
}
.sort-control {
  display: flex;
  align-items: flex-start;
  padding: 0;
  gap: 70px;

  width: 522px;
  height: 49px;
}
.founded-hotels {
  margin: 0;
  padding: 0;
}

/* product-list сделаем потом с помощью гридов  */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
}
.product-card {
  margin: 0;
  padding: 0;
  width: 340px;
  height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.product-card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}
.product-card-actions {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
}
.pricetag {
  justify-self: end;
}
/*Список отфильтрованных гостиниц*/
.catalog-founded-hotels {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;
  gap: 40px;
}
.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}
/*Пагинация*/
.pagination {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 4px;
}
.pagination-two-digits {
  padding: 12px 18px;
}
.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}
.pagination-ellipsis {
  background-color: #ffffff;
  color: #000000;
}
